.common-button {
  position: relative;
  font-size: 0.64rem;
  color: #FFFFFF;
  letter-spacing: -0.0085rem;
  text-align: center;
  background: #FFCD06;
  box-shadow: 0 0.064rem 0 0 #D0A700;
  border-radius: 2.1333rem;
}
.common-button img {
  position: absolute;
  right: 0.2633rem;
  top: 0.2133rem;
  height: 0.4693rem;
  width: 0.5973rem;
}
.common-button.active {
  background: #B1D6E6;
  box-shadow: 0 0.1067rem 0 0 #68A1B9;
  border-radius: 2.1333rem;
}
.common-list {
  margin: 0 -0.1707rem 0;
}
.common-list li {
  float: left;
  width: 25%;
  box-sizing: border-box;
  padding: 0 0.1707rem 0.4267rem;
  text-align: center;
}
.common-list li img {
  width: 100%;
}
.common-list-column li {
  margin-bottom: 0.4267rem;
  border-radius: 0.4267rem;
  overflow: hidden;
  width: 100%;
}
.common-list-column li img {
  width: 100%;
}
.common-list-column li div {
  background-color: #fff;
  padding: 0.4267rem 0.64rem;
  box-sizing: border-box;
}
.common-list-column li div .title {
  font-size: 0.7253rem;
  color: #475764;
  letter-spacing: -0.0096rem;
  line-height: 0.7253rem;
}
.common-list-column li div .desc {
  font-size: 0.64rem;
  color: #A7B3BD;
  letter-spacing: -0.0085rem;
  line-height: 0.7253rem;
  margin-top: 0.4267rem;
}
